[submodule "MySensors"]
	path = MySensors
	url = ../MySensors.git
[submodule "Arduino"]
	path = Arduino
	url = ../Arduino.git
[submodule "MySensors_cmake"]
	path = MySensors_cmake
	url = ../MySensors_cmake.git
[submodule "libraries/SI7021"]
	path = libraries/SI7021
	url = git@github.com:goulou/SI7021.git
[submodule "OneWire"]
	path = libraries/OneWire
	url = git@github.com:goulou/OneWire.git
[submodule "libraries/DallasTemperature"]
	path = libraries/DallasTemperature
	url = git@github.com:goulou/Arduino-Temperature-Control-Library.git
