[submodule "MySensors"]
	path = MySensors
	url = ../MySensors.git
[submodule "Arduino"]
	path = Arduino
	url = ../Arduino.git
[submodule "MySensors_cmake"]
	path = MySensors_cmake
	url = ../MySensors_cmake.git
